/* typography */
.headline60 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}
.headline48 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}
.headline36 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.headline30 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}
.headline24 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.headline20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22px;
}
.body20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.body18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.bodt16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.body14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.label14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
}
.label12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.caption12 {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

body {
  font-family: "Inter", sans-serif;
}

.landingBg {
  background-image: url(/Assets/splash\ image\ bgup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.landingBgMobile {
  background-image: url(/Assets/splash\ image\ bgup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 75vh;
}
.sign-up-form {
  background-color: #f7f7f7 !important;
}
.example::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none !important;
}
.footer-link {
  color: #040404 !important;
}
.paperBg {
  background-image: url(Assets/paperbackground.png);
}
#bgVisibility {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(144, 144, 144, 0.265625) 21.88%,
      rgba(96, 96, 96, 0.510417) 43.75%,
      rgba(53, 53, 53, 0.729167) 61.98%,
      #000000 100%
    ),
    url("/Assets/unsplash_VP5R-n47v9Q.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;
}
#bgBusiness {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(144, 144, 144, 0.265625) 21.88%,
      rgba(96, 96, 96, 0.510417) 43.75%,
      rgba(53, 53, 53, 0.729167) 61.98%,
      #000000 100%
    ),
    url(/Assets/unsplash_business.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;
}
#bgCosturmers {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(144, 144, 144, 0.265625) 21.88%,
      rgba(96, 96, 96, 0.510417) 43.75%,
      rgba(53, 53, 53, 0.729167) 61.98%,
      #000000 100%
    ),
    url(/Assets/unsplash_costurmers.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30vh;
}
#bgSteps {
  background-image: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(161, 161, 161, 0.177083) 15.1%,
      rgba(139, 139, 139, 0.291667) 32.29%,
      rgba(87, 87, 87, 0.557292) 47.4%,
      rgba(44, 44, 44, 0.776042) 66.15%,
      #000000 100%
    ),
    url(/Assets/unsplash_howitworks.png);
}
.questionSegment {
  color: #7f7e7c;
}

#bgLanding {
  min-height: 100vh;
  background-image: url(/Assets/splash_image_edited.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.restaurantCardHeader {
  font-size: 14px;
  font-weight: 900, bolder;
}
.restaurantCardText {
  font-size: 11px;
  font-weight: 400;
  color: #979797;
}
.rating-text {
  font-size: 11px;
  font-weight: 500;
}
.popular-dishes-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#bgLandingMobile {
  min-height: 75vh;
  background-image: url(/Assets/splash_image_edited.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sign-btn {
  background-color: black !important;
}

.sign-google {
  background-color: #f7f7f7;
}

.modal-head {
  background-image: url(/Assets/modal_bg-image.png);
  height: 25vh;
  background-position: center;
  background-repeat: no-repeat;
}

.small-cart-text {
  font-size: 9px;
  color: #c4c4c4;
}
.medium-cart-text {
  font-size: 11px;
  color: #7f7e7c;
}
.place-order-input {
  border-bottom-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
  border-top-left-radius: 20px !important;
  border-bottom-right-radius: 16px !important;
  background-color: #f7f7f7 !important;
  color: black !important;
}
.user-form {
  background-color: #f7f7f7;
  border: none;
}
.user-form-label {
  font-size: 13px;
  font-weight: bold;
}
.save-button {
  background-color: black;
  color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  font-size: 14px;
}
.profile-table-head {
  background-color: #f7f7f7;
  color: #7f7e7c;
}
.dashboard-texts {
  font-size: 13px;
}
.delivery-style {
  background-color: #7b61ff33;
  color: #7b61ff;
  font-size: 9px;
}
.accepted-style {
  background-color: #19ee9433;
  color: #4caf50;
  font-size: 9px;
}
.rejected-style {
  background-color: #f21b3f33;
  color: #f21b3f;
  font-size: 9px;
}
.driver-assigned-style {
  background-color: #c4c4c433;
  color: #979797;
  font-size: 9px;
}
.vendor-accepted-style {
  background-color: #1976d233;
  color: #1976d2;
  font-size: 9px;
}
.address-div {
  background-color: #f7f7f7;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.table-div {
  overflow-x: auto;
}

.address-text {
  font-size: 14px;
}
